.pm-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .layout-content {
    display: flex;
    margin-top: 70px;

    .main-content {
      flex: 1;
      margin-left: 250px;
      padding: 36px 40px;
      background: transparent;
      min-height: calc(100vh - 70px);
      
      @media (max-width: 768px) {
        margin-left: 0;
        padding: 24px;
      }
    }
  }
}
